<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kote Lakay'm explained...</h2>
                <hr class="light">
                <p class="text-faded">Conditions in Haiti during the Duvalier Regime (1957-1981) exiled Haitian writers into the dyaspora resulting in the expansion of exile literature from the Francophone Caribbean. Scholars in the humanities have approached literature from Haitian writers exiled by the Duvalier regime. An increasing amount of digital projects in the field are dedicated to recovering lost voices and narratives from Haiti and its dyaspora across Haitian history. At the intersection of Caribbean Studies and Digital Humanities, “Kote lakay’m?” maps the dyasporic locations of Haitian writers in exile during the Duvalier Regime. The project aims to recover and highlight Haitian writers while reducing the sense of ‘loss’ in this “lost generation” caused by decades of state-sanctioned violence, political corruption, and dictatorship. It features a series of maps that display the migration patters of thirty Haitian writers alongside biographical information.</p>
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1XamYPZbqEamOdN5m3Hd57Ur1X4eq7Jo&ehbc=2E312F" width="640" height="480"></iframe>
                <a href="#" class="btn btn-default btn-xl">Learn More!</a>
            </div>
        </div>
    </div>
</section>
